@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
html,
body {
  width: 100%;
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 1px);
  height: 100%;
}
/* .loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: I16 3s infinite;
}
@keyframes I16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
} */
*::selection {
  background-color: #222222;
}
#page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  /* opacity: 0.6; */
  background: url(img/BackPP.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#page2 {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #222222;
}
#page3 {
  max-width: 100%;
  min-height: 70vh;
  position: relative;
  background-color: #bac964;
}
#page4 {
  max-width: 100%;
  min-height: 70vh;
  position: relative;
  background-color: #222222;
}
#page5 {
  max-width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  position: relative;
  justify-content: center;
  background-color: #bac964;
}
#navbar {
  display: flex;
  position: fixed;
  z-index: 9;
  width: 100%;
  background-color: #fff;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #2222227d;
}
#navbar ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
}
#navbar li {
  width: auto;
  position: relative;
  float: left;
}
#navbar a {
  text-decoration: none;
  color: #222222;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  text-align: center;
  padding: 15px 50px;
  transition: all ease-in 0.3s;
}
.hamMenu {
  display: none;
}
.burger {
  pointer-events: all;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  /* border: 1px solid white; */
  transition: all ease-in-out 0.3s;
  background-color: #fff;
  opacity: 0.8;
}
#navbar a:hover {
  opacity: 0.7;
}
.page1-textdiv {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inline-block {
  display: inline-block;
}
.page1-textdiv h1 {
  color: #fff;
  /* padding: 4px 0; */
  font-size: 70px;
}
.page1-textdiv h2 {
  color: #fff;
  font-weight: 500;
  font-size: 34px;
}
#h33 {
  color: #b3b3b3;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 2px 0;
}
.page2-container1 {
  margin-top: 2%;
  width: 100%;
  min-height: 100%;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}
#page2 h1 {
  text-align: center;
  color: #fff;
  font-weight: 100;
}
#page2 span {
  text-align: center;
  font-weight: 700;
}
.img-div {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  flex-wrap: wrap;
}
.vid-div {
  width: 400px;
  /* height: 300px; */
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  justify-content: space-between;
  gap: 20px;
}
.video {
  /* width: 400px; */
  width: 100%;
  border-radius: 20px;
  /* position: relative; */
  /* height: 300px; */
  /* margin: 20px 0; */
  display: block;
  cursor: pointer;
}
.overlay22 {
  position: absolute;
  /* top: 10px; */
  bottom: 10px;
  left: 0;
  right: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  background-color: #bac964;
}
.over-text1 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #222222;
}
.vid-div:hover .overlay22 {
  opacity: 0.8;
}
#container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #bac964;
  padding: 0;
}
#container a {
  display: none;
}
#btn1 {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 140px;
  height: 50px;
  border-radius: 100px;
  border: none;
  background-color: #bac964;
  color: #222222;
  opacity: 0.7;
  /* font-size: 10px; */
  cursor: pointer;
  transition: all ease 0.3s;
}
#btn1:hover {
  opacity: 1;
}
#page3 h1 {
  color: #222222;
  font-size: 35px;
  text-align: center;
  font-weight: 200;
}
#page3 span {
  font-weight: 700;
  text-align: center;
}
.page3-container1 {
  text-align: center;
}
.page3-container1 h3 {
  color: #222222;
  text-align: left;
  padding: 2px 20px;
  transition: all ease 0.6s;
}
.page3-container1 h4 {
  color: #222222;
  text-align: left;
  font-weight: 300;
  padding: 2px 20px;
  transition: all ease 0.6s;
}
.page3-container1 img:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.page3-text p {
  padding: 50px 0;
  color: #222222;
}
#btn2 {
  width: 140px;
  height: 50px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all ease 0.6s;
  border: none;
  opacity: 0.7;
  border-radius: 100px;
  background-color: #222222;
  color: #bac964;
}
#btn3 {
  width: 140px;
  height: 50px;
  opacity: 0.7;
  border: none;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
  cursor: pointer;
  transition: all ease 0.6s;
  border-radius: 100px;
  background-color: #222222;
  color: #bac964;
}
#btn2:hover {
  opacity: 1;
}
#btn3:hover {
  opacity: 1;
}
#page4 h1 {
  color: #fff;
  font-weight: 200;
  text-align: center;
}
#page4 span {
  font-weight: 700;
  text-align: center;
}
.page4-card {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  max-width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}
.con-img {
  width: 250px;
  text-align: center;
  cursor: pointer;
  transition: all ease 0.6s;
  padding: 10px 0;
}
.title {
  color: grey;
  font-size: 18px;
}
#btn4 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #222222;
  text-align: center;
  background-color: #bac964;
  width: 150px;
  opacity: 0.7;
  margin-bottom: 2%;
  border-radius: 100px;
  transition: all ease 0.3s;
  font-size: 18px;
}
#btn4:hover {
  opacity: 1;
}
.social {
  text-align: center;
  padding: 5px 0;
}
.social a {
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  font-size: 50px;
  color: #fff;
}
.social2 {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px 0;
}
.social2 a {
  text-align: center;
  text-decoration: none;
  padding: 0 5px;
  font-size: 50px;
  color: #fff;
}
.btn-parent {
  display: flex;
  justify-content: center;
}
#page5 h1 {
  color: #222222;
  text-align: center;
  font-weight: 200;
}
#page5 span {
  font-weight: 700;
}
.textup {
  text-align: center;
  color: #222222;
  font-weight: 700;
}

/* i {
  margin-right: 3px;
} */

/* .form-box {
  background-color: #222222;
  box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  position: absolute;
  top: 10vh;
  border: none;
  text-align: center;
} */
.form-wrapper {
  min-width: 100%;
  z-index: 5;
  min-height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
}
form {
  background-color: #222222;
  box-shadow: 0 0 10px rgba(36, 67, 40, 0.8);
  padding: 15px;
  border-radius: 8px;
  width: 80vw;
  position: absolute;
  top: 10vh;
  border: none;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}
#page5::-webkit-scrollbar {
  display: none;
}
label {
  display: block;
  margin-bottom: 8px;
  font-size: 17px;
  border: none;
  color: #fff;
  font-weight: 600;
}
input,
textarea {
  width: 100%;
  background-color: #555555;
  padding: 8px;
  outline: none;
  border: none;
  margin-bottom: 12px;
  box-sizing: border-box;
  border-radius: 10px;
}
#top-btn {
  width: 70px;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-radius: 100px;
  height: 30px;
  opacity: 0.7;
  background-color: #222222;
  border: none;
  color: #fff;
}
#top-btn:hover {
  opacity: 1;
}
/* button {
  background-color: #222222;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  transition: 0.2s linear;
}

button:hover {
  background-color: #bac964;
  border: none;
  transform: translateY(-10px);
} */
.page5-form-cont {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.form-container {
  width: 100%;
  height: 100%;
  background-color: #3c5077;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tick {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  margin-top: -30px;
}
.popup {
  width: 300px;
  height: 140px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  background-color: #e6e6e6;
  border-radius: 10px;
  position: absolute;
  top: 38%;
  visibility: hidden;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  color: #222222;
  text-align: center;
  transition: all ease 0.3s;
}
::placeholder {
  color: #fff;
}
#formBtn {
  width: 70px;
  /* height: 30px; */
  text-align: center;
  border: none;
  margin-top: 5%;
  border-radius: 100px;
  color: #222222;
  background-color: #bac964;
}
#btnn {
  width: 70px;
  /* height: 30px; */
  text-align: center;
  border: none;
  margin-top: 5%;
  border-radius: 100px;
  color: #222222;
  background-color: #bac964;
}
.open-popUp {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 700px) {
  #navbar ul {
    position: fixed;
    left: 0%;
    top: -100%;
    flex-direction: column;
    background-color: #fff;
    opacity: 0.7;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    transition: all ease 0.6s;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
  }
  #navbar ul.active {
    top: 5%;
  }
  #navbar li {
    float: none;
    margin: 5px 0;
  }
  #navbar a {
    text-decoration: none;
    color: #222222;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    text-align: left;
    padding: 8px 10px;
    transition: all ease-in 0.3s;
  }
  .hamMenu {
    position: absolute;
    right: 0;
    display: block;
    cursor: pointer;
  }
  #page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    /* opacity: 0.6; */
    background: url(img/BackPP2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .vid-div {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    gap: 20px;
  }
}
